*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fafafa;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;
}

.login-box{
    width: 350px;

    border: 1px solid #ccc;

    background: white;

    padding: 40px;
    
    text-align: center;
}

.logo{
    width: 180px;

    margin-bottom: 30px;
}

input{
    width: 100%;

    padding: 10px;

    margin-top: 10px;

    border: 1px solid #ccc;

    background: #fafafa;

    border-radius: 3px;
}

button{
    width: 100%;

    padding: 10px;

    margin-top: 15px;

    border: none;

    background: #0095f6;

    color: white;

    border-radius: 8px;

    font-weight: bold;

    cursor: pointer;
}

.line-box{
    display: flex;

    align-items: center;

    margin-top: 20px;
}

.line{
    flex: 1;

    height: 1px;

    background: #ccc;
}

.line-box p{
    margin: 0 10px;

    color: gray;

    font-size: 13px;
}

a{
    display: block;

    margin-top: 20px;

    text-decoration: none;

    color: #385185;

    font-weight: bold;
}

h5{
    margin-top: 20px;

    color: #00376b;

    cursor: pointer;
}
button:hover{

    background: #1877f2;

    transition: 0.3s;
}

a:hover{

    color: #1877f2;
}
.login-box{

    animation: popup 1s ease;
}
@keyframes popup{

    from{
        transform: scale(0.7);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}s